<!DOCTYPE html>
<html>
	<head>
		<script>
			var gData = {{{gData}}};
		</script>
		<link rel="stylesheet" href="extractedFromBundle.css">
		<link rel="stylesheet" href="weather-icons.css">
	</head>
	<body>
		<div id="content"></div>
        <script src="bundle.js"></script>
	</body>
</html>
