body {
	background-color: #000;
	position: absolute;
	left: 9px;
	right: -3px;
	top: 10px;
	bottom: 0;
	.clear {
		clear: both;
	}
}
#content {
	color: #fff;
	font-size: 24px;
	font-family: "HelveticaNeue-Light";
	letter-spacing: -2px;
	-webkit-font-smoothing: antialiased;
}

.ui-enter {
	opacity: 0.01;
	&.ui-enter-active {
		opacity: 1;
		transition: opacity 250ms ease-in;
	}
}
.ui-leave {
	opacity: 1;
	&.ui-leave-active {
		opacity: 0.01;
		transition: opacity 1000ms ease-in;
	}
}

//weather stuff
#weatherContainer {
	position: absolute;
	right: 8px;
	font-size: 64px;
	text-align: right;
	.sun {
		font-size: 66%;
		i.wi-sunset {
			margin-left: 16px;
		}
		.moonPhase {
			margin-left: 14px;
		}
	}
	.current {
		font-size: 215%;
		line-height: 128px;
		margin-top: -8px;
		.currentIcon {
			font-size: 75%;
			margin-right: 16px;
		}
		.currentTemp {
			display: inline-block;
			margin-right: 28px;
			i.wi-degrees {
				position: relative;
				left: -4px;
			}
		}
		.hilo {
			display: inline-block;
			font-size: 40%;
			line-height: 32px;
			margin-left: -20px;
		}
	}
	.upcoming {
		margin-top: -8px;
		font-size: 85%;
		color: #aaa;
		.date {
			margin-right: 32px;
		}
	}
}

#calendarContainer {
	position: absolute;
	left: 0;
	font-size: 64px;
	.date {
		font-size: 66%;
	}
	.time {
		font-size: 200%;
		line-height: 128px;
		margin-top: -8px;
	}
	ul.events {
		color: #aaa;
		list-style: none;
		font-size: 45%;
		margin: 0;
		padding: 0;
		li {
			span {
				float: left;
				margin-left: 5px;
			}
			.eventDate {
			}
			.eventSummary {
				display: inline-block;
				max-width: 232px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.eventTime {
			}
		}
	}
}
