<div class="date"></div>
<div class="time"></div>
<ul class="events">
	{{#each events}}
	<li>
		<span class="eventDate">{{date}}</span>
		<span class="eventSummary">{{summary}}</span>
		<span class="eventTime">({{time}})</span>
		<div class="clear"></div>
	</li>
	{{/each}}
</ul>
